name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      TZ: "Asia/Tokyo"
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version-file: ./backend/go.mod
          cache: true
          cache-dependency-path: ./backend

      - name: Run GoRelease
        uses: goreleaser/goreleaser-action@v5
        with:
          version: "~> v2"
          workdir: ./backend
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_KEY: ${{ secrets.ACCESS_TOKEN_FOR_PACKAGE }}
